___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to 'Data Cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to 'Filling Data', in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation is done as well.
* **The third part** is related to 'Handling Outliers of Data' via Visualization libraries. So, some insights will be extracted.

**``NOTE:``**  However, you are free to create your own style. You do NOT have to stick to the steps above. We, the DA & DV instructors, recommend you study each part separately to create a source notebook for each part title for your further studies.

# PART- 1 `( Data Cleaning )`

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

%matplotlib inline
# %matplotlib notebook

plt.rcParams["figure.figsize"] = (10,6)
# plt.rcParams['figure.dpi'] = 100

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [85]:
df = pd.read_json('scout_car.json', lines=True)

In [7]:
df_copy=df.copy()

In [8]:
df.head(3).T

,0,1,2
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,"56,013 km","80,000 km","83,450 km"
registration,01/2016,03/2017,02/2016
prev_owner,2 previous owners,None,1 previous owner
kW,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]"
Full Service,"[\n, \n]",NaN,NaN
Non-smoking Vehicle,"[\n, \n]",NaN,NaN
null,[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]"
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]"
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n]
Gears,NaN,[\n7\n],NaN
Country version,NaN,NaN,NaN
Electricity consumption,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN
Availability,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN
Available from,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [9]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [86]:
df['Comfort & Convenience']=df['\nComfort & Convenience\n']
df['Entertainment & Media']=df['\nEntertainment & Media\n']
df['Extras']=df['\nExtras\n']
df['Safety & Security']=df['\nSafety & Security\n']

In [87]:
df_cloumn = ['\nComfort & Convenience\n','\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n']
df.drop(df_cloumn, axis=1, inplace=True)

In [ ]:

#tek satirda kolon temizleme
#from skimpy import clean_columns
#clean_df = clean_columns(df)#temiz dataframe
#df.columns = clean_df.columns.tolist()#tekrar kendi dataframe'imi onun icine attim

In [ ]:
#2.yontem
#df.columns = df.columns.str.replace(" ","_").str.lower().str.replace("\n","").str.replace("_&_","&")

In [ ]:
#3.yontem
#for col in df.columns:
    #df.rename(columns={col:col.lower().replace(" ","_")},inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40  description                    15919 non-null  object
 41  Emission Label                 3985 non-null   object
 42  Gears                          11207 non-null  object
 43  Country version                7586 non-null   object
 44  Electricity consumption        137 non-null    object
 45  Last Service Date              566 non-null    object
 46  Other Fuel Types               880 non-null    object
 47  Availability                   635 non-null    object
 48  Last Timing Belt Service Date  16 non-null     object
 49  Available from                 272 non-null    object
 50  Comfort & Convenience          14999 non-null  object
 51  Entertainment & Media          14545 non-null  object
 52  Extras                         12957 non-null  object
 53  Safety & Security              14937 non-null  object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [13]:
df.shape

(15919, 54)

In [14]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
Comfort & Convenience              920
Entertainment & Media             1374
Extras                            2962
Safety & Security                  982
dtype: int64

In [15]:
# Null Data Percentages
def null_values(df):
    """a function to show null values with percentage"""
    nv=pd.concat([df.isnull().sum(), 100 * df.isnull().sum()/df.shape[0]],axis=1).rename(columns={0:'Missing_Records', 1:'Percentage (%)'})
    return nv[['Percentage (%)']].sort_values('Percentage (%)', ascending=False)
null_values(df)

                               Percentage (%)
kW                                    100.000
Last Timing Belt Service Date          99.899
Electricity consumption                99.139
Available from                         98.291
Last Service Date                      96.445
Availability                           96.011
Other Fuel Types                       94.472
Next Inspection                        77.794
Inspection new                         75.300
Emission Label                         74.967
Model Code                             68.729
Non-smoking Vehicle                    54.916
Country version                        52.346
Full Service                           48.395
Weight                                 43.809
Drive chain                            43.081
prev_owner                             42.892
Previous Owners                        41.711
Paint Type                             36.259
Cylinders                              35.681
Warranty                               34.047
Gears                                  29.600
vat                                    28.350
Body Color Original                    23.613
Upholstery                             23.368
Offer Number                           19.945
Emission Class                         18.977
Extras                                 18.607
Consumption                            11.973
CO2 Emission                           11.357
First Registration                     10.032
Entertainment & Media                   8.631
Safety & Security                       6.169
Nr. of Seats                            6.137
Comfort & Convenience                   5.779
Body Color                              3.750
Displacement                            3.116
Nr. of Doors                            1.332
Body                                    0.377
body_type                               0.377
short_description                       0.289
Type                                    0.013
Fuel                                    0.000
description                             0.000
Gearing Type                            0.000
make_model                              0.000
Model                                   0.000
Make                                    0.000
null                                    0.000
hp                                      0.000
registration                            0.000
km                                      0.000
price                                   0.000
url                                     0.000

In [ ]:
#2.yontem
(df.isnull().sum()/len(df)*100).sort_values(ascending=False)

kW                              100.000
Last Timing Belt Service Date    99.899
Electricity consumption          99.139
Available from                   98.291
Last Service Date                96.445
Availability                     96.011
Other Fuel Types                 94.472
Next Inspection                  77.794
Inspection new                   75.300
Emission Label                   74.967
Model Code                       68.729
Non-smoking Vehicle              54.916
Country version                  52.346
Full Service                     48.395
Weight                           43.809
Drive chain                      43.081
prev_owner                       42.892
Previous Owners                  41.711
Paint Type                       36.259
Cylinders                        35.681
Warranty                         34.047
Gears                            29.600
vat                              28.350
Body Color Original              23.613
Upholstery                       23.368
Offer Number                     19.945
Emission Class                   18.977
Extras                           18.607
Consumption                      11.973
CO2 Emission                     11.357
First Registration               10.032
Entertainment & Media             8.631
Safety & Security                 6.169
Nr. of Seats                      6.137
Comfort & Convenience             5.779
Body Color                        3.750
Displacement                      3.116
Nr. of Doors                      1.332
Body                              0.377
body_type                         0.377
short_description                 0.289
Type                              0.013
Fuel                              0.000
description                       0.000
Gearing Type                      0.000
make_model                        0.000
Model                             0.000
Make                              0.000
null                              0.000
hp                                0.000
registration                      0.000
km                                0.000
price                             0.000
url                               0.000
dtype: float64

### Droping columns that have %80 percent and higher of missing values.

In [88]:
df.drop(["kW", 
         "Last Timing Belt Service Date", 
         "Electricity consumption", 
         "Available from", 
         "Last Service Date",
         "Availability", 
         "Other Fuel Types"], axis=1, inplace=True)

In [89]:
df.drop("null", axis=1, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   url                    15919 non-null  object
 1   make_model             15919 non-null  object
 2   short_description      15873 non-null  object
 3   body_type              15859 non-null  object
 4   price                  15919 non-null  int64
 5   vat                    11406 non-null  object
 6   km                     15919 non-null  object
 7   registration           15919 non-null  object
 8   prev_owner             9091 non-null   object
 9   hp                     15919 non-null  object
 10  Type                   15917 non-null  object
 11  Previous Owners        9279 non-null   object
 12  Next Inspection        3535 non-null   object
 13  Inspection new         3932 non-null   object
 14  Warranty               10499 non-null  object
 15  Full Service           8215 non-null   object
 16  Non-smoking Vehicle    7177 non-null   object
 17  Make                   15919 non-null  object
 18  Model                  15919 non-null  object
 19  Offer Number           12744 non-null  object
 20  First Registration     14322 non-null  object
 21  Body Color             15322 non-null  object
 22  Paint Type             10147 non-null  object
 23  Body Color Original    12160 non-null  object
 24  Upholstery             12199 non-null  object
 25  Body                   15859 non-null  object
 26  Nr. of Doors           15707 non-null  object
 27  Nr. of Seats           14942 non-null  object
 28  Model Code             4978 non-null   object
 29  Gearing Type           15919 non-null  object
 30  Displacement           15423 non-null  object
 31  Cylinders              10239 non-null  object
 32  Weight                 8945 non-null   object
 33  Drive chain            9061 non-null   object
 34  Fuel                   15919 non-null  object
 35  Consumption            14013 non-null  object
 36  CO2 Emission           14111 non-null  object
 37  Emission Class         12898 non-null  object
 38  description            15919 non-null  object
 39  Emission Label         3985 non-null   object
 40  Gears                  11207 non-null  object
 41  Country version        7586 non-null   object
 42  Comfort & Convenience  14999 non-null  object
 43  Entertainment & Media  14545 non-null  object
 44  Extras                 12957 non-null  object
 45  Safety & Security      14937 non-null  object
dtypes: int64(1), object(45)
memory usage: 5.6+ MB

### url

In [ ]:
df.url.value_counts()

https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64

In [90]:
df.drop("url", axis=1, inplace=True)

### make_model

In [16]:
df.make_model.value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

### short_description

In [17]:
df.short_description.value_counts()

SPB 1.6 TDI 116 CV S tronic Sport                 64
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
SPB 30 TFSI S tronic Admired                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10001, dtype: int64

In [91]:
df.drop("short_description", axis=1, inplace=True)

### body_type

In [19]:
df.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

### price

In [20]:
df.price.value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64

### vat

In [21]:
df.vat.value_counts(dropna=False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

### km

In [92]:
df.km.value_counts(dropna=False)

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [93]:
df.km = df.km.str.replace(",","").str.rstrip(" km")

In [94]:
df.km= df.km.replace("-", np.nan)

In [95]:
df.km=df.km.astype("float")

In [96]:
df.km.value_counts(dropna=False)

10.000       1045
NaN          1024
1.000         367
5.000         170
50.000        148
             ...
67469.000       1
43197.000       1
10027.000       1
35882.000       1
57.000          1
Name: km, Length: 6690, dtype: int64

### registration

In [97]:
df.registration.value_counts(dropna=False)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [100]:
df[['registration','First_Registration']].head()

  registration First_Registration
0      01/2016     [\n, 2016, \n]
1      03/2017     [\n, 2017, \n]
2      02/2016     [\n, 2016, \n]
3      08/2016     [\n, 2016, \n]
4      05/2016     [\n, 2016, \n]

In [99]:
df["First_Registration"]= df["First Registration"]

In [107]:
df.First_Registration.isnull().sum()

1597

Since the month is not important in the vehicle model year review, the registration will be droped and the first registration will be continued.

In [108]:
df.drop("registration", axis=1, inplace=True)

### prev_owner & Previous_Owners

In [109]:
df.prev_owner.value_counts(dropna=False)

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [119]:
#df.Previous Owners.isnull().sum()

In [111]:
df["Previous_Owners"] = [item[0] if type(item) == list else item for item in df["Previous Owners"]]
df["Previous_Owners"]

0        \n2\n
1          NaN
2        \n1\n
3        \n1\n
4        \n1\n
         ...
15914      NaN
15915    \n1\n
15916    \n1\n
15917      NaN
15918    \n1\n
Name: Previous_Owners, Length: 15919, dtype: object

In [112]:
df["Previous_Owners"] = df["Previous_Owners"].str.strip("\n").astype('float')

In [113]:
df["Previous_Owners"].value_counts(dropna=False)

1.000    8294
NaN      6640
2.000     778
0.000     188
3.000      17
4.000       2
Name: Previous_Owners, dtype: int64

In [114]:
df.drop(["prev_owner", "Previous Owners"], axis=1, inplace=True)

In [115]:
type(df["Previous_Owners"][0])

numpy.float64

In [116]:
df["Previous_Owners"].value_counts(dropna=False)

1.000    8294
NaN      6640
2.000     778
0.000     188
3.000      17
4.000       2
Name: Previous_Owners, dtype: int64

### hp

In [120]:
df.hp.value_counts(dropna=False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
70 kW      888
125 kW     707
51 kW      695
55 kW      569
118 kW     516
92 kW      466
121 kW     392
147 kW     380
77 kW      345
56 kW      286
54 kW      276
103 kW     253
87 kW      232
165 kW     194
88 kW      177
60 kW      160
162 kW      98
- kW        88
74 kW       81
96 kW       72
71 kW       59
101 kW      47
67 kW       40
154 kW      39
122 kW      35
119 kW      30
164 kW      27
135 kW      24
82 kW       22
52 kW       22
78 kW       20
1 kW        20
294 kW      18
146 kW      18
141 kW      16
57 kW       10
104 kW       8
120 kW       8
191 kW       7
112 kW       7
155 kW       6
117 kW       6
184 kW       5
90 kW        4
76 kW        4
65 kW        4
149 kW       3
80 kW        3
168 kW       3
98 kW        3
93 kW        3
228 kW       2
270 kW       2
53 kW        2
140 kW       2
86 kW        2
167 kW       2
127 kW       2
89 kW        2
143 kW       2
63 kW        2
40 kW        2
150 kW       2
163 kW       1
115 kW       1
132 kW       1
75 kW        1
4 kW         1
137 kW       1
123 kW       1
133 kW       1
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, dtype: int64

In [121]:
df["hp_kW"] = df.hp.str.rstrip(" kW")

In [122]:
df["hp_kW"] = df.hp_kW.replace("-", np.nan)

In [123]:
df["hp_kW"] =df.hp_kW.astype("float")

In [124]:
df.drop("hp", axis=1, inplace=True)

### Type

In [125]:
df["Type"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: Type, Length: 169, dtype: int64

In [126]:
df["Type"] = df.Type.str[1]

In [127]:
df.Type.value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

### Next Inspection

In [128]:
df["Next Inspection"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n04/2022\n                               62
\n03/2021\n                               38
\n03/2022\n                               36
\n06/2021\n                               34
\n01/2022\n                               32
                                          ..
[\n12/2018\n, \n97 g CO2/km (comb)\n]      1
[\n03/2022\n, \n1 (No sticker)\n]          1
[\n05/2021\n, \n93 g CO2/km (comb)\n]      1
[\n06/2021\n, \n93 g CO2/km (comb)\n]      1
[\n01/2022\n, \n168 g CO2/km (comb)\n]     1
Name: Next Inspection, Length: 1399, dtype: int64

In [129]:
df["Inspection new"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nYes\n, \nEuro 6\n]                                                                          523
\nYes\n                                                                                        362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                             174
[\nYes\n, \n4 (Green)\n]                                                                       166
[\nYes\n, \nEuro 6d-TEMP\n]                                                                    134
                                                                                              ...
[\nYes\n, \n, 5.2 l/100 km (comb), \n, 6.7 l/100 km (city), \n, 4.2 l/100 km (country), \n]      1
[\nYes\n, \n100 g CO2/km (comb)\n]                                                               1
[\nYes\n, \n, 4.9 l/100 km (comb), \n, 5.9 l/100 km (city), \n, 4.3 l/100 km (country), \n]      1
[\nYes\n, \n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]      1
[\nYes\n, \n172 g CO2/km (comb)\n]                                                               1
Name: Inspection new, Length: 202, dtype: int64

In [130]:
df.drop("Next Inspection", axis=1,inplace=True)

Next Inspection has been dropped since it was deemed appropriate to use the audit criteria instead of the month information for the audit.

### Inspection new

In [131]:
df["Inspection_new"] = [item[0] if type(item) == list else item for item in df["Inspection new"]]
df["Inspection_new"] = df["Inspection_new"].str.strip("\n")

In [132]:
df.Inspection_new.value_counts(dropna=False)

NaN    11987
Yes     3932
Name: Inspection_new, dtype: int64

In [133]:
df.drop("Inspection new",axis=1, inplace=True)

### Warranty

In [134]:
df.Warranty.value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
[\n, \n, \n4 (Green)\n]                                                                             517
                                                                                                   ...
[\n72 months\n, \n125 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n14 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n121 g CO2/km (comb)\n]                                                              1
[\n12 months\n, \nEuro 6d\n]                                                                          1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: Warranty, Length: 515, dtype: int64

In [135]:
df["Warranty2"] = [item[0] if type(item) == list else item for item in df["Warranty"]]
df["Warranty2"] = df["Warranty2"].str.strip("\n")

In [136]:
df["Warranty2"].value_counts()

             5646
12 months    2594
24 months    1118
60 months     401
36 months     279
48 months     149
6 months      125
72 months      59
3 months       33
23 months      11
18 months      10
20 months       7
25 months       6
2 months        5
50 months       4
26 months       4
16 months       4
4 months        3
1 months        3
19 months       3
34 months       3
13 months       3
28 months       2
22 months       2
14 months       2
11 months       2
46 months       2
21 months       2
9 months        2
17 months       2
45 months       2
33 months       1
40 months       1
65 months       1
10 months       1
15 months       1
7 months        1
8 months        1
56 months       1
49 months       1
47 months       1
30 months       1
Name: Warranty2, dtype: int64

In [137]:
df.drop(["Warranty", "Warranty2"], axis=1, inplace=True)

During the modeling phase, it was understood that there was too much variety in the Warranty column, so it could not be included in the modeling and the column was dropped.

### Full Service

In [138]:
df["Full Service"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                           7704
[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
                                                                                              ...
[\n, \n, \n80 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n84 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n, 4.9 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.1 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: Full Service, Length: 123, dtype: int64

In [139]:
df.drop("Full Service", axis=1, inplace=True)

### Non-smoking Vehicle

In [140]:
#df["Non-smoking Vehicle"].value_counts()

In [145]:
#df["Non-smoking Vehicle"].head()

In [141]:
df.drop("Non-smoking Vehicle", axis=1,inplace=True)

### Make

In [146]:
df.Make.value_counts()

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [147]:
df.drop("Make", axis=1, inplace=True)

The Make column were dropped because the make_model column contains data.

### Model

In [148]:
df.drop("Model", axis=1, inplace=True)

The Model column were dropped because the make_model column contains data.

### Offer Number

In [150]:
df["Offer Number"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nLT67679\n]                                     27
[\nAK13780\n]                                     27
[\nTP62881\n]                                     27
[\nTA76392\n]                                     27
[\nXT61649\n]                                     27
                                                  ..
[\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n]     1
[\n6701576\n]                                      1
[\n6701569\n]                                      1
[\n158121\n]                                       1
[\nRe_30000008029\n]                               1
Name: Offer Number, Length: 11440, dtype: int64

In [151]:
df.drop("Offer Number", axis=1, inplace=True)

### First Registration

In [ ]:
df["First Registration"].value_counts()

In [152]:
df["First Registration"] = df["First Registration"].str[1]

In [153]:
df["First Registration"] = df["First Registration"].astype("float")

In [154]:
df["First Registration"].value_counts(dropna=False)

2018.000    4522
2016.000    3674
2017.000    3273
2019.000    2853
NaN         1597
Name: First Registration, dtype: int64

In [155]:
df["age"]= 2019-df["First Registration"]

In [156]:
df.drop("First Registration", axis=1, inplace=True)

### Body Color

In [ ]:
df["Body Color"].value_counts(dropna=False)

In [157]:
df.drop("Body Color", axis=1, inplace=True)

### Paint Type

In [ ]:
df["Paint Type"].value_counts(dropna=False)

In [158]:
df["Paint_Type"] = df["Paint Type"].str[0].str.strip("\n")
df["Paint_Type"] = df["Paint_Type"].str.replace("/", " ")

In [ ]:
df.Paint_Type.value_counts(dropna=False)

In [159]:
df.drop("Paint Type", axis=1, inplace=True)

### Body Color Original

In [ ]:
df["Body Color Original"].value_counts(dropna=False)

In [160]:
df.drop("Body Color Original", axis=1, inplace=True)

### Upholstery

In [ ]:
df.Upholstery.value_counts(dropna=False)

In [161]:
df["Upholstery"] = [item[0] if type(item) == list else item for item in df.Upholstery]
df["Upholstery"].value_counts(dropna=False)

\nCloth, Black\n           5821
NaN                        3720
\nPart leather, Black\n    1121
\nCloth\n                  1005
\nCloth, Grey\n             891
\nCloth, Other\n            639
\nFull leather, Black\n     575
\nBlack\n                   491
\nGrey\n                    273
\nOther, Other\n            182
\nPart leather\n            140
\nFull leather\n            139
\nFull leather, Brown\n     116
\nPart leather, Grey\n      116
\nOther, Black\n            110
\nFull leather, Other\n      72
\nFull leather, Grey\n       67
\nPart leather, Other\n      65
\nOther\n                    56
\nPart leather, Brown\n      50
\nalcantara, Black\n         47
\nVelour, Black\n            36
\nFull leather, Beige\n      36
\nCloth, Brown\n             28
\nVelour\n                   16
\nOther, Grey\n              15
\nCloth, Beige\n             13
\nBrown\n                    12
\nCloth, Blue\n              12
\nVelour, Grey\n              8
\nCloth, White\n              8
\nalcantara, Grey\n           6
\nCloth, Red\n                5
\nOther, Yellow\n             4
\nPart leather, Red\n         3
\nBeige\n                     3
\nPart leather, White\n       2
\nFull leather, Blue\n        2
\nalcantara, Other\n          2
\nalcantara\n                 2
\nWhite\n                     2
\nPart leather, Beige\n       2
\nBlue\n                      2
\nCloth, Orange\n             1
\nFull leather, Red\n         1
\nOther, Brown\n              1
\nFull leather, White\n       1
Name: Upholstery, dtype: int64

In [162]:
df["Upholstery"] = df.Upholstery.str.strip("\n").str.split(", ")

In [163]:
df["Upholstery"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Cloth, Black]           5821
NaN                      3720
[Part leather, Black]    1121
[Cloth]                  1005
[Cloth, Grey]             891
[Cloth, Other]            639
[Full leather, Black]     575
[Black]                   491
[Grey]                    273
[Other, Other]            182
[Part leather]            140
[Full leather]            139
[Full leather, Brown]     116
[Part leather, Grey]      116
[Other, Black]            110
[Full leather, Other]      72
[Full leather, Grey]       67
[Part leather, Other]      65
[Other]                    56
[Part leather, Brown]      50
[alcantara, Black]         47
[Velour, Black]            36
[Full leather, Beige]      36
[Cloth, Brown]             28
[Velour]                   16
[Other, Grey]              15
[Cloth, Beige]             13
[Brown]                    12
[Cloth, Blue]              12
[Velour, Grey]              8
[Cloth, White]              8
[alcantara, Grey]           6
[Cloth, Red]                5
[Other, Yellow]             4
[Part leather, Red]         3
[Beige]                     3
[Part leather, White]       2
[Full leather, Blue]        2
[alcantara, Other]          2
[alcantara]                 2
[White]                     2
[Part leather, Beige]       2
[Blue]                      2
[Cloth, Orange]             1
[Full leather, Red]         1
[Other, Brown]              1
[Full leather, White]       1
Name: Upholstery, dtype: int64

In [164]:
u_type = ["Cloth", 'Part leather', 'Full leather', 'Velour', 'alcantara']
df["Upholstery_type"] = df["Upholstery"].apply(lambda x : x[0] if type(x) == list and x[0] in u_type else np.nan)

In [165]:
df["Upholstery_type"].value_counts(dropna=False)

Cloth           8423
NaN             4871
Part leather    1499
Full leather    1009
Velour            60
alcantara         57
Name: Upholstery_type, dtype: int64

In [166]:
df.drop("Upholstery", axis=1, inplace=True)

### Body

In [167]:
df.Body.value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [168]:
df.drop("Body", axis=1, inplace=True)

### Nr. of Doors

In [ ]:
df["Nr. of Doors"].value_counts(dropna=False)

In [169]:
df["Nr_of_Doors"]=df["Nr. of Doors"].str[0].str.strip("\n")

In [170]:
df["Nr_of_Doors"].value_counts(dropna=False)

5      11575
4       3079
3        832
2        219
NaN      212
1          1
7          1
Name: Nr_of_Doors, dtype: int64

In [171]:
df["Nr_of_Doors"]=df["Nr_of_Doors"].astype("float")

In [172]:
df.drop("Nr. of Doors", axis=1, inplace=True)

### Nr. of Seats

In [ ]:
df["Nr. of Seats"].value_counts(dropna=False)

In [173]:
df["Nr_of_Seats"]=df["Nr. of Seats"].str[0].str.strip("\n")

In [174]:
df["Nr_of_Seats"].value_counts(dropna=False)

5      13336
4       1125
NaN      977
7        362
2        116
6          2
3          1
Name: Nr_of_Seats, dtype: int64

In [175]:
df["Nr_of_Seats"]=df["Nr_of_Seats"].astype("float")

In [176]:
df.drop("Nr. of Seats", axis=1, inplace=True)

### Model Code

In [ ]:
df["Model Code"].value_counts()

In [177]:
df.drop("Model Code", axis=1, inplace=True)

### Gearing Type

In [ ]:
df["Gearing Type"].value_counts(dropna=False)

In [178]:
df["Gearing_Type"]=df["Gearing Type"].str[1]

In [ ]:
df["Gearing_Type"].value_counts(dropna=False)

In [179]:
df.drop("Gearing Type", axis=1, inplace=True)

### Displacement

In [ ]:
df.Displacement.value_counts(dropna=False)

In [180]:
df["Displacement_cc"]= df.Displacement.str[0].str.strip("\n")

In [181]:
df["Displacement_cc"] = df["Displacement_cc"].str.replace(",","").str.rstrip(" cc")

In [182]:
df["Displacement_cc"]=df["Displacement_cc"].astype("float")

In [183]:
df.drop("Displacement", axis=1, inplace=True)

### Cylinders

In [ ]:
df.Cylinders.value_counts(dropna=False)

In [184]:
df["Cylinders"]=df["Cylinders"].str[0].str.strip("\n").astype("float")

In [185]:
df.Cylinders.value_counts(dropna=False)

4.000    8105
NaN      5680
3.000    2104
5.000      22
6.000       3
8.000       2
2.000       2
1.000       1
Name: Cylinders, dtype: int64

### Weight

In [ ]:
df.Weight.value_counts(dropna=False)

In [ ]:
#df.weight=df.Weight.str[0].str.lstrip("\n").str.rstrip(" kg\n").str.replace(",","").astype("float")

In [186]:
df["Weight_kg"]= df.Weight.str[0].str.strip("\n")

In [187]:
df["Weight_kg"] = df["Weight_kg"].str.replace(",","").str.rstrip(" kg")

In [188]:
df["Weight_kg"]= df["Weight_kg"].astype("float")

In [189]:
df["Weight_kg"].value_counts(dropna=False)

NaN         6974
1163.000     574
1360.000     356
1165.000     301
1335.000     242
            ...
1960.000       1
1258.000       1
1167.000       1
1331.000       1
2037.000       1
Name: Weight_kg, Length: 435, dtype: int64

In [190]:
df.drop("Weight", axis=1, inplace=True)

### Drive chain

In [ ]:
df["Drive chain"].value_counts(dropna=True)

In [191]:
df["Drive_chain"]=df["Drive chain"].str[0].str.strip("\n")

In [192]:
df.drop("Drive chain", axis=1, inplace=True)

### Fuel

In [ ]:
df.Fuel.value_counts(dropna=False)

In [193]:
df.Fuel=df.Fuel.str[1].str.split("/").str[0].str.strip()

In [194]:
df.Fuel=df.Fuel.str.split("(").str[0].str.strip()

In [195]:
df.Fuel.value_counts()

Diesel                  7299
Super 95                4368
Gasoline                3252
Regular                  503
Super E10 95             409
CNG                       36
LPG                       16
Super Plus 98             11
Liquid petroleum gas      10
Others                     6
Electric                   5
Super Plus E10 98          2
Biogas                     1
Domestic gas H             1
Name: Fuel, dtype: int64

In [196]:
benzine = ["Gasoline", "Super 95","Regular","Super E10 95","Super Plus 98","Super Plus E10 98", "Others"]
lpg = ["LPG","Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]
def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    else:
        return x
df["Fuel"] = df.Fuel.apply(fueltype)

In [197]:
df.Fuel.value_counts(dropna=False)

Benzine     8551
Diesel      7299
LPG/CNG       64
Electric       5
Name: Fuel, dtype: int64

### Consumption

In [198]:
df.Consumption.value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                 1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                 1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                    1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]         1
Name: Consumption, Length: 882, dtype: int64

In [199]:
df["Consumption"]

0        [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
1        [[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...
2        [[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...
3        [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
4        [[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...
                               ...
15914    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15915    [\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...
15916    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15917    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15918    [[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...
Name: Consumption, Length: 15919, dtype: object

In [200]:
def comb(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[0] != []:
            return x[0][0]
        else:
            return np.nan
    else:
        return x[1]

In [201]:
df["Consumption_comb"]= df.Consumption.apply(comb).str.extract('(\d*.\d*)')[0].astype("float")

In [202]:
df.Consumption_comb.value_counts(dropna=False).head()

NaN      2033
5.400     770
3.900     733
4.000     713
5.100     657
Name: Consumption_comb, dtype: int64

In [203]:
df.drop("Consumption", axis=1, inplace=True)

### CO2 Emission

In [204]:
df["CO2 Emission"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                            1808
[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
                               ...
[\n14 g CO2/km (comb)\n]          1
[\n1,060 g CO2/km (comb)\n]       1
[\n51 g CO2/km (comb)\n]          1
[\n165 g CO2/km (comb)\n]         1
[\n193 g CO2/km (comb)\n]         1
Name: CO2 Emission, Length: 124, dtype: int64

In [205]:
df["CO2_Emission"]= df["CO2 Emission"].str[0].str.strip("\n").str.rstrip(" g CO2/km (comb)").str.replace(",",".").astype("float")

In [206]:
df["CO2_Emission"].value_counts()

120.000    740
99.000     545
97.000     537
104.000    501
10.000     477
          ...
253.000      1
1.060        1
51.000       1
165.000      1
193.000      1
Name: CO2_Emission, Length: 120, dtype: int64

In [207]:
df.drop("CO2 Emission", axis=1,inplace=True)

### Emission Class

In [208]:
df["Emission Class"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [209]:
df["Emission_Class"]=df["Emission Class"].str[0].str.strip("\n")

In [210]:
df["Emission_Class"].value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: Emission_Class, dtype: int64

In [211]:
df.Emission_Class.replace({"Euro 6d-TEMP":"Euro 6", "Euro 6c":"Euro 6", "Euro 6d":"Euro 6"}, inplace=True)

In [ ]:
df["Emission_Class"].value_counts(dropna=False)

In [213]:
df.drop("Emission Class", axis=1, inplace=True)

# description

In [ ]:
df.description.value_counts(dropna=False)

In [214]:
df.drop("description", axis=1, inplace=True)

### Emission Label

In [ ]:
df["Emission Label"].value_counts(dropna=False)

In [215]:
df.drop("Emission Label", axis=1, inplace=True)

### Gears

In [ ]:
df.Gears.value_counts(dropna=False)

In [216]:
df["Gears"]= df.Gears.str[0].str.strip("\n").astype("float")

In [217]:
df["Gears"].value_counts(dropna=False)

6.000     5822
NaN       4712
5.000     3239
7.000     1908
8.000      224
9.000        6
1.000        2
3.000        2
4.000        2
2.000        1
50.000       1
Name: Gears, dtype: int64

### Country version

In [ ]:
df["Country version"].value_counts(dropna=False)

In [218]:
df.drop("Country version", axis=1, inplace=True)

###  Comfort & Convenience

In [ ]:
df["Comfort & Convenience"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          920
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                         105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows]                                                                                                                                                                                                                   1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]                                                                                                   1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows]                                                                                                                     1
[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating]                                                                                                                                                                                                                          1
[Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]      1
Name: Comfort & Convenience, Length: 6199, dtype: int64

In [219]:
df["Comfort & Convenience"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          920
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                         105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows]                                                                                                                                                                                                                   1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]                                                                                                   1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows]                                                                                                                     1
[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating]                                                                                                                                                                                                                          1
[Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]      1
Name: Comfort & Convenience, Length: 6199, dtype: int64

In [220]:
def comfconv(a):
    if type(a) == list: 
        return [",".join(a)]
    else:
        return (a for a in df["Comfort & Convenience"])

In [221]:
df["Comfort_Convenience"]=df["Comfort & Convenience"].apply(comfconv).str[0]

In [222]:
df["Comfort_Convenience"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof                                                                                                1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Tinted windows                                                                                                                 1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: Comfort_Convenience, Length: 6199, dtype: int64

In [223]:
df.drop("Comfort & Convenience", axis=1, inplace=True)

###  Entertainment & Media

In [ ]:
df["Entertainment & Media"].value_counts(dropna=False)

In [224]:
def enter(a):
    if type(a) == list: 
        return [",".join(a)]
    else:
        return (a for a in df["Entertainment & Media"])

In [225]:
df["Entertainment_Media"]=df["Entertainment & Media"].apply(enter).str[0]

In [226]:
df["Entertainment_Media"].value_counts(dropna=False)

NaN                                                                                                 1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                          1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                       982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                             783
On-board computer,Radio                                                                              487
                                                                                                    ...
Bluetooth,CD player,Digital radio,Hands-free equipment,Radio                                           1
CD player,Hands-free equipment,MP3,Radio,USB                                                           1
MP3,Radio,Sound system,USB                                                                             1
Bluetooth,MP3,On-board computer,Radio,Television,USB                                                   1
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,Sound system,Television,USB       1
Name: Entertainment_Media, Length: 347, dtype: int64

In [227]:
df.drop("Entertainment & Media", axis=1, inplace=True)

### Extras

In [ ]:
df.Extras.value_counts(dropna=False)

In [228]:
def extra(a):
    if type(a) == list: 
        return [",".join(a)]
    else:
        return (a for a in df["Extras"])

In [229]:
df["Extras"]=df["Extras"].apply(extra).str[0]

In [230]:
df.Extras.value_counts(dropna=False)

Alloy wheels                                                                                               3245
NaN                                                                                                        2962
Alloy wheels,Touch screen                                                                                   697
Alloy wheels,Voice Control                                                                                  577
Alloy wheels,Touch screen,Voice Control                                                                     541
                                                                                                           ...
Alloy wheels,Catalytic Converter,Shift paddles,Sport package,Sport seats,Sport suspension,Voice Control       1
Alloy wheels,Catalytic Converter,Roof rack,Sport package,Sport seats,Trailer hitch                            1
Alloy wheels,Catalytic Converter,Ski bag,Sport package,Voice Control                                          1
Catalytic Converter,Roof rack,Sport seats,Sport suspension                                                    1
Alloy wheels,Shift paddles,Ski bag,Sport seats,Sport suspension,Touch screen,Voice Control                    1
Name: Extras, Length: 660, dtype: int64

###  Safety & Security

In [ ]:
df["Safety & Security"].value_counts(dropna=False)

In [231]:
df["Safety_Security"]=[",".join(a) if type(a) == list else a for a in df["Safety & Security"]]

In [232]:
df["Safety_Security"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                               982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                      538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                 480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                           272
                                                                                                                                                                                                                                                                                                                                                                 ...
ABS,Central door lock,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag                                                                                                                                                                                                                                              1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                 1
ABS,Adaptive Cruise Control,Alarm system,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Power steering,Tire pressure monitoring system,Traction control                                                                                                                                                  1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition      1
Name: Safety_Security, Length: 4444, dtype: int64

In [233]:
df.drop("Safety & Security", axis=1, inplace=True)

### The End of Part-1

In [234]:
df.shape

(15919, 29)

In [235]:
df.head(3).T

,0,1,2
make_model,Audi A1,Audi A1,Audi A1
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,56013.000,80000.000,83450.000
Type,Used,Used,Used
Cylinders,3.000,4.000,NaN
Fuel,Diesel,Benzine,Diesel
Gears,NaN,7.000,NaN
Extras,"Alloy wheels,Catalytic Converter,Voice Control","Alloy wheels,Sport seats,Sport suspension,Voic...","Alloy wheels,Voice Control"
First_Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]"
Previous_Owners,2.000,NaN,1.000
hp_kW,66.000,141.000,85.000
Inspection_new,Yes,NaN,NaN
age,3.000,2.000,3.000
Paint_Type,Metallic,NaN,Metallic
Upholstery_type,Cloth,Cloth,Cloth
Nr_of_Doors,5.000,3.000,4.000
Nr_of_Seats,5.000,4.000,4.000
Gearing_Type,Automatic,Automatic,Automatic
Displacement_cc,1422.000,1798.000,1598.000
Weight_kg,1220.000,1255.000,NaN
Drive_chain,front,front,front
Consumption_comb,3.800,5.600,3.800
CO2_Emission,99.000,129.000,99.000
Emission_Class,Euro 6,Euro 6,Euro 6
Comfort_Convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Hil...","Air conditioning,Cruise control,Electrical sid..."
Entertainment_Media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...","MP3,On-board computer"
Safety_Security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Central door lock with r...","ABS,Central door lock,Daytime running lights,D..."

In [236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15919 non-null  object
 1   body_type            15859 non-null  object
 2   price                15919 non-null  int64
 3   vat                  11406 non-null  object
 4   km                   14895 non-null  float64
 5   Type                 15917 non-null  object
 6   Cylinders            10239 non-null  float64
 7   Fuel                 15919 non-null  object
 8   Gears                11207 non-null  float64
 9   Extras               12957 non-null  object
 10  First_Registration   14322 non-null  object
 11  Previous_Owners      9279 non-null   float64
 12  hp_kW                15831 non-null  float64
 13  Inspection_new       3932 non-null   object
 14  age                  14322 non-null  float64
 15  Paint_Type           10147 non-null  object
 16  Upholstery_type      11048 non-null  object
 17  Nr_of_Doors          15707 non-null  float64
 18  Nr_of_Seats          14942 non-null  float64
 19  Gearing_Type         15919 non-null  object
 20  Displacement_cc      15423 non-null  float64
 21  Weight_kg            8945 non-null   float64
 22  Drive_chain          9061 non-null   object
 23  Consumption_comb     13886 non-null  float64
 24  CO2_Emission         13483 non-null  float64
 25  Emission_Class       12291 non-null  object
 26  Comfort_Convenience  14999 non-null  object
 27  Entertainment_Media  14545 non-null  object
 28  Safety_Security      14937 non-null  object
dtypes: float64(12), int64(1), object(16)
memory usage: 3.5+ MB

In [237]:
df.to_csv("clean_scout.csv", index=False)

In [240]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive